h1{text-align: center;
font-size: 80px;
background-color:#E2D4B7;
padding: 30px;
border-style: solid;
border-color:  #885bac;
border-width: 3px;
border-radius: 5px;
}

body{background-color: #9888A5;}

marquee{
  font-size: 30px;
  margin-bottom: 40px;
}
p{font-size: 20px;
  display: inline-block;
}

#banner{
  width: 1920px;
  height: 300px;
  margin: 20px 0px 20px -10px;
  
}

.navbar {
    width: 100%;
    overflow: auto;
    
  }
  
 
  .navbar a {
    float: left;
    text-align: center;
    padding: 10px 15px;
    margin: 4px 10px;
    color: black;
    background-color: #E2D4B7;
    text-decoration: none;
    font-size: 19px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    
    
  }
  
  
  .navbar a:hover {
    border-style: solid;
    border-color: black;
        
  }
    
  .active {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .homemaintext{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
  }
  .searchsection{
    background-color: #E2D4B7;
    margin-bottom: 30px;
    padding-left: 30px;
    text-align: center;
  }

 #search{
  display: inline-block;
  padding: 5px;
  border-color: black;
  margin-left: 10px;
  margin-right: 10px;
 }

.searchsection button{
  padding: 5px 15px;
  border-color: black;
  cursor: pointer;
}

.contactsection{
  text-align: center;
  

}
.contactsection form{
  font-size: 20px;
  background-color: #E2D4B7;
  padding-top: 20px;
  padding-bottom: 20px;

}

#fname{
  display: inline-block;
  padding: 4px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#lname{
  display: inline-block;
  padding: 4px 10px;
  margin-top: 10px;
}

#email{
  padding: 4px 10px;
  margin-top: 10px;
}

#query{
width: 650px;
height: 250px;
margin-top: 10px;
}


  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }


footer{
  text-align: center;
  font-size: 25px;
  background-color: antiquewhite;
  margin-top: 20px;
}