h1{
    font-size: 85px;
text-align: center;
color:white;}

header{text-align:center;
font-size: 60px;
color:white;}

p{text-align: center;}


.center{display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}



 h1:hover{
    background-color: greenyellow;
  }

  body {
    background-color: seagreen ;
  }

